.form-bar.container {
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 10px;
    padding-bottom: 1px;
    width: 100%;
    max-width: 100%;
    background-color: dimgrey;
}